.wrappPageDevelopment{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textPageDevelopment {
    font-weight: bold;
    color: #4D4D4D;
    font-size: 1.5em;
    margin: 10% auto 2%;
}

.imgPageDevelopment {
    width: 100%;
    height: auto;
    
}
