.headImages {
    padding: 1px;
}

.headImages>img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content {
    grid-area: page-content;
    border-radius: 10px;
    background-color: rgb(35, 157, 194);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.pageTextContent {
    padding: 10px;
}