.profileDescriptionContainer {
  margin-top: 5px;
}

.profileDescriptionContent {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #2a5885;
}

.profileField {
  color:  #464545;
}

.btnProfileDesc {
  margin-top: 10px;
  background-color: #5181b8;
  border-radius: 4px;
  min-width: 100px;
  font-size: 0.8rem;
  border: none;
  padding: 4px 6px;
  color: #fff;
  font-weight: bold;
  border: 1px solid #5181b8;
}

.btnProfileDesc:hover {
  background-color: #fff;
  cursor: pointer;
  color: #5181b8;
}
