.header {
  grid-area: header;
  background-color: rgb(35, 157, 194);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.logo {
  width: 150px;
  height: auto;
}

.loginBlock{
  color: #205684;
  font-weight: bold;
}

.loginButton{ 
  width: 100%;
  border: none;
  line-height: 1.2rem;
  background-color: #205684;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}