.nav {
  grid-area: nav;
  
}

.linkItem {
  text-decoration: none;
  display: block;
  color: #285473;
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
}

.linkItem:hover {
  background-color: #a4adbb;
  color: #1D2129;
}

.nav a.activeLink {
  color: #1D2129;
  
}
