.headImages {
    padding: 1px;
}

.headImages>img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    width: 100%;
    height: auto;
}



.pageTextContent {
    padding: 10px;
}