.headImages {
  padding: 1px;
}

.pageProfileContent {
  padding: 10px;
  display: flex;
}

.contentProfileLeft {
  width: 30%;
}

.contentProfileRight {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.avaPrpfile {
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 3px rgb(167, 167, 167);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.imgProfile {
  width: 100%;
  height: auto;
}

.linkSocial {
  margin: 20px;
}

.nameUser {
  font-weight: bold;
}

.inputfileContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1em;
  padding: 5px 8px;
  width: 100%;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: #5181b8;
  display: inline-block;
  opacity: 0.5;
    transition: opacity .13s ease-out;
}
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #239dc2;
  opacity: 1;
}

.inputfile + label {
  cursor: pointer;
}
