.wrapper {
  width: 100%;
  height: 100%;
  background-color: #EDEEF0;
 /*  display: flex;
  justify-content: center; */
 

}

.contentWrapper {
  padding: 0 20px;
  display: grid;
  grid-template-areas:
   
    "nav page-content"
    ;
  grid-template-rows:  1fr ;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  min-height: 100vh;
  max-width: 940px;
  margin: auto;
}

.appWrapperContent {
  grid-area: page-content;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(156, 146, 146, 0.5);
}